.friendList {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 50px;
  list-style: none;
}

.item {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 120px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
